@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');

.container {
    width: 1920px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    width: 100%;
    padding: 0 150px 0 150px;
    box-sizing: border-box;
    background-color: #434240;
    background-image: url(../img/photo_header.png);
}

.logo {
    display: block;
    float: left;
    margin: 40px 0 0 226px;
}

.main-nav {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 61px 0 0 204px;
}

.main-nav_list {
    float: left;
}

.main-nav_list a {
    text-decoration: none;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
    display: block;
    padding: 0 15px;
}

.main-nav .active a {
    color: #c7b29a;
}

.main-nav_list a:hover {
    color:  #c7b29a;
}

.main-nav_list a:active {
    color:  #c7b29a;
    border-bottom: 1px solid #c7b29a;
}

.cart-search {
    float: left;
    margin: 55px 0 0 53px;
}

.cart-search a {
    display: block;
    text-decoration: none;
    float: left;
    margin-right: 28px;
}

.cart-search a:last-child {
    margin-right: 0;
}

.cart-search a:hover {
    background-color: #c7b29a;
    opacity: 0.99;
    border-radius: 3px;
}

.cart-search a:active {
    background-color: #9a8775;
    opacity: 0.99;
    border-radius: 3px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-left a {
    display: block;
    width: 40px;
    height: 73px;
    background-image: url(../img/slider_left.png);
}

.slider-left a:hover {
    background-image: url(../img/slider_left_hover.png);
}

.slider-right a {
    display: block;
    width: 40px;
    height: 73px;
    background-image: url(../img/slider_right.png);
}

.slider-right a:hover {
    background-image: url(../img/slider_right_hover.png);
}

.slider-center {
    padding: 285px 475px 315px 476px;
}

.slider-center h3 {
    margin: 0;
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.slider-center h2 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin: 14px 0 19px 0;
}

.slider-center p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}

.slider-center_button {
    display: block;
    width: 170px;
    margin-left: 210px;
    border-radius: 3px;
    background-color:  #998675;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
    box-shadow: 0px 3px 2px #736356;
    margin-top: 52px;
}

.slider-center_button:hover {
    background-color: #c7b299;
}

.slider-center_button:active {
    box-shadow: none;
    color:  black;
}

.slider-bottom {
    height: 15px;
    margin: 0 0 0 755px;
    padding: 0 0 40px 0;
    display: flex;
    align-items: center;
}

.slider-bottom_menu {
    margin: 0;
    padding: 0;
}

.slider-bottom_list {
    float: left;
    list-style-type: none;
    padding: 5px
}

.slider-bottom .active {
    padding: 2.5px 2.5px;
}

.slider-bottom_list a {
    display: block;
    border-radius: 50%;
    background-color:  #959698;;
    width: 11px;
    height: 11px;
}

.slider-bottom .active a {
    display: block;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color:  #d3c1ad;
    box-sizing: border-box;
    background-color:  rgba(255, 255, 255, 0);
    width: 15px;
    height: 15px;
}

.slider-bottom_list a:hover {
    background-color:  #d3c1ad;
}

.slider-bottom_list a:active {
    background-color:  #9a8775;
}

.services {
    padding: 80px 378px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services-link {
    display: block;
    width: 271px;
    text-align: center;
    text-decoration: none;
}

.services-link_h3 {
    font-family: Raleway;
    color: #555555;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 29px 0 19px 0;
}

.services-link_p {
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.services-link_line {
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin-left: 98px;
}

.services-link:hover .services-link_h3 {
    color: #c7b299;
}

.services-link:hover .services-link_line {
    background-color: #c7b299;
}

.services-link:active .services-link_h3 {
    color: #9a8775;
}

.services-link:active .services-link_line {
    background-color: #9a8775;
}

.services-link_icon {
    display: block;
    margin-left: 109px;
    width: 49px;
    height: 49px;
    background-image: url(../img/web_icon.png);
}

.development .services-link_icon {
    background-image: url(../img/develop_icon.png);
    width: 44px;
    height: 40px;
}

.development .active {
    color: #c7b299;
}

.development .active_line {
    background-color: #c7b299;
}

.custom .services-link_icon {
    width: 44px;
    height: 44px;
    background-image: url(../img/custom_icon.png);
}

.marketing .services-link_icon {
    width: 52px;
    height: 36px;
    background-image: url(../img/market_icon.png);
}

.realization {
    background-color: #fbfaf8;
    padding: 83px 0 522px 0;
    background-image: url(../img/browser-center.png), 
                      url(../img/browser-left.png),
                      url(../img/browser-right.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom center, bottom left 345px, bottom right 345px;
}

.realization h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.realization p {
    margin: 18px 0 0 583px;
    width: 757px;
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.purchase {
    padding: 50px 375px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.purchase-txt {
    float: left;
}

.purchase-txt h3 {
    margin: 0;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.purchase-txt h3 span {
    color:  #c7b299;
}

.purchase p {
    margin: 0;
    font-family: Montserrat;
    color:  #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin-top: 5px;
}

.purchase a {
    display: block;
    text-decoration: none;
    float: right;
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 50px;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 3px 2px #736356;
}

.purchase a:hover {
    background-color: #c7b299;
}

.purchase a:active {
    color:  black;
    box-shadow: none;
}

.lastest-projects {
    padding: 80px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lastest-projects h2 {
    width: 100%;
    margin: 0;
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.lastest-projects > p {
    width: 100%;
    margin: 24px 0 40px 0;
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.projects-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 0 40px 282px;
}

.projects-menu_link {
    float: left;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    margin-right: 10px;
}

.projects-menu_link:last-child {
    margin-right: 0px;
}

.projects-menu_link a {
    text-decoration: none;
    display: block;
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    text-transform: capitalize;
}

.projects-menu .active {
    border-radius: 3px;
    background-color:  #998675;   
}

.projects-menu .active a {
    color:  #ffffff;
}

.projects-menu_link a:hover {
    background-color: #c7b299;
    color: #ffffff;
}

.projects-menu_link a:active {
    background-color: #c7b299;
    color: black;
}

.project {
    width: 370px;
    margin: 0;
    background-color:  #fbfaf8;
    margin-bottom: 30px;
    position: relative;
}


.project .project-hover {
    position: absolute;
    top: 106px;
    left: 144px;
    display: none;
}

.project-hover a {
    display: block;
    float: left;
    width: 26px;
    height: 25px;
    margin-right: 28px;
}

.project-hoevr_link {
    background-image: url(../img/link.png);
}

.project-hoevr_lupa {
    background-image: url(../img/lupa.png);
}

.project:hover .project-hover {
    display: block;
}


.project span {
    display: block;
    padding: 237px 370px 0 0;
    position: relative;
}

.project span:after {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: 212px;
    left: 19px;
}

.project_1 span {
    background-image: url(../img/project_1.png);
}

.project_2 span {
    background-image: url(../img/project_2.png);
}

.project_3 span {
    background-image: url(../img/project_3.png);
}
.project_4 span {
    background-image: url(../img/project_4.png);
}

.project_5 span {
    background-image: url(../img/project_5.png);
}

.project_6 span {
    background-image: url(../img/project_6.png);
}

.project h3 {
    margin: 30px 0 0 28px;
    font-family: Raleway;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.project p {
    font-family: Montserrat;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin: 14px 0 27px 30px;
}

.lastest-projects .project_active {
    background-color:  #362f2d;
    position: relative;
}

.lastest-projects .project_active span:after {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #362f2d;
    position: absolute;
    top: 212px;
    left: 19px;
}

.projects-load_more {
    display: block;
    width: 170px;
    height: 50px;
    border-radius: 3px;
    background-color:  #998675;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 3px 2px #736356;
    margin: 40px 0 0 500px;
}

.projects-load_more:hover {
    background-color: #c7b299;
}

.projects-load_more:active {
    color:  black;
    box-shadow: none;
}