@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway/raleway-regular.ttf')
}

@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway/raleway-medium.ttf')
}

@font-face {
    font-family: 'raleway-extrabold';
    src: url('../fonts/raleway/raleway-extrabold.ttf')
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway/raleway-semibold.ttf')
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/montserrat/montserrat-light.ttf')
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    padding: 40px 150px 40px 150px;
    box-sizing: border-box;
    background-color: #434240;
    background-image: url(../img/photo_header.png);
    background-repeat: no-repeat;
}

.header-top {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo .logo-svg {
    fill: #fff;
}

.logo-txt {
    font-family: raleway-regular, Arial, sans-serif;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
}

.logo:hover .logo-svg {
    fill: #9a8775;
}

.logo:hover .logo-txt {
    color: #9a8775;
}

.logo:active .logo-svg {
    fill: #c7b299;
}

.logo:active .logo-txt {
    color: #c7b299;
}

.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 204px;
    display: flex;
    flex-wrap: nowrap;
    
}

.main-nav_list a {
    text-decoration: none;
    font-family: 'montserrat-light', Arial, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    display: block;
    padding: 0 15px;
}

.main-nav .active a {
    color: #c7b29a;
}

.main-nav_list a:hover {
    color:  #c7b29a;
}

.main-nav_list a:active {
    color:  #998675;
}

.basket-search {
    margin-left: 48px;
    display: flex;
}

.basket svg,
.search svg {
    fill: #fff;
}

.search {
    margin-left: 28px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-left {
    fill: #fff;
}


.slider-left:hover {
    fill: #d3c1ad;
}

.slider-right {
    fill: #fff;
}


.slider-right:hover {
    fill: #d3c1ad;
}

.slider-center {
    padding: 285px 475px 260px 476px;
}

.slider-center h3 {
    margin: 0;
    font-family: raleway-medium, Arial, sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.slider-center h2 {
    font-family: raleway-extrabold, Arial, sans-serif;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin: 14px 0 19px 0;
}

.slider-center p {
    font-family: montserrat-light, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}

.slider-center_button {
    display: flex;
    width: 170px;
    padding: 13.5px 0;
    margin-left: 210px;
    border-radius: 3px;
    background-color:  #998675;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 3px 2px #736356;
    margin-top: 52px;
}

.slider-center_button-txt {
    font-family: raleway-extrabold, Arial, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin: auto;
}

.slider-center a:hover {
    background-color: #c7b299;
}

.slider-center a:active {
    box-shadow: none;
}

.slider-center a:active .slider-center_button-txt {
    color:  black;
}

.slider-bottom {
    margin: 0 0 0 755px;
    padding: 0;
    height: 15px;
    display: flex;
    align-items: center;
}

.slider-bottom_list {
    display: block;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color:  #8f9092;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-clip: padding-box;
}

.slider-bottom_list:hover {
    border-color:  #d3c1ad;
    box-sizing: border-box;
    background-color:  rgba(255, 255, 255, 0);
    width: 15px;
    height: 15px;
}

.services {
    padding: 80px 378px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services-link {
    display: block;
    width: 271px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.services-link svg {
    fill: #555555;
}

.services-link_h3 {
    font-family: raleway-semibold, Arial, sans-serif;
    color: #555555;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 29px 0 19px 0;
    width: 100%;
}

.services-link_p {
    font-family: montserrat-light;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.services-link:hover .services-link_h3 {
    color: #c7b299;
}

.services-link:hover svg {
    fill: #c7b299;
}

.services-link:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    left: 98px;
}

.services-link:hover:after {
    background-color: #c7b299;
}

.realization {
    background-color: #fbfaf8;
    padding: 83px 0 522px 0;
    background-image: url(../img/browser-center.png), 
                      url(../img/browser-left.png),
                      url(../img/browser-right.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom center, bottom left 345px, bottom right 345px;
}

.realization h2 {
    font-family: raleway-semibold, Arial, sans-serif;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.realization p {
    margin: 18px 0 0 583px;
    width: 757px;
    font-family: montserrat-light, Arial, sans-serif;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.purchase {
    padding: 50px 375px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-txt h3 {
    margin: 0;
    font-family:  raleway-regular, Arial, sans-serif;
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.purchase-txt h3 span {
    color:  #c7b299;
}

.purchase p {
    margin: 0;
    font-family: montserrat-light, Arial, sans-serif;
    color:  #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin-top: 5px;
}

.purchase a {
    display: flex;
    width: 170px;
    min-height: 50px;
    border-radius: 3px;
    background-color:  #998675;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 3px 2px #736356;
}

.purchase-link-txt {
    font-family: raleway-extrabold, Arial, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin: auto;
}

.purchase a:hover {
    background-color: #c7b299;
}

.purchase a:active {
    box-shadow: none;
}

.purchase a:active .purchase-link-txt {
    color:  black;
}

.lastest-projects {
    padding: 80px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lastest-projects h2 {
    width: 100%;
    margin: 0;
    font-family: raleway-semibold, Arial, sans-serif;;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.lastest-projects > p {
    width: 100%;
    margin: 24px 0 40px 0;
    font-family: 'montserrat-light', Arial, sans-serif;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.projects-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 0 40px 282px;
}

.projects-menu_link {
    float: left;
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    margin-right: 10px;
}

.projects-menu_link:last-child {
    margin-right: 0px;
}

.projects-menu_link a {
    text-decoration: none;
    display: block;
    font-family: 'montserrat-light', Arial, sans-serif;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    text-transform: capitalize;
}

.projects-menu .active {
    border-radius: 3px;
    background-color:  #998675;   
}

.projects-menu .active a {
    color:  #ffffff;
}

.projects-menu_link a:hover {
    background-color: #c7b299;
    border-radius: 3px;
    border-color: #c7b299;
    color: #ffffff;
}

.projects-menu_link a:active {
    color: black;
}

.project {
    width: 370px;
    margin: 0;
    background-color:  #fbfaf8;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.projects-txt {
    padding: 30px 0 27px 0;
    margin: 0;
    width: 100%;
}

.project .projects-txt:after {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: 212px;
    left: 19px;
}

.project h3 {
    margin: 0 0 0 28px;
    font-family: raleway-medium, Arial, sans-serif;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.project p {
    font-family: 'montserrat-light', Arial, sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin: 12px 0 0 30px;
}

.projects-load_more {
    display: block;
    width: 170px;
    border-radius: 3px;
    background-color:  #998675;
    font-family: raleway-extrabold, Arial, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 3px 2px #736356;
    margin: 10px 0 0 500px;
}

.projects-load_more:hover {
    background-color: #c7b299;
}

.projects-load_more:active {
    color:  black;
    box-shadow: none;
}

.project .project-hover {
    position: absolute;
    top: 106px;
    left: 144px;
    display: none;
}

.project-hover a {
    display: block;
    float: left;
    margin-right: 28px;
}

.project:hover .project-hover {
    display: block;
}

.project-hover svg {
    fill: #fff;
}

.project-hover svg:hover,
.project:hover .projects-txt p {
    fill: #c7b299;
}

.project:hover .projects-txt {
    background-color: #362f2d;
}

.project:hover .projects-txt h3 {
    color: #ffffff;
}

.project:hover .projects-txt:after {
    border-bottom: 10px solid #362f2d;
}

.project:hover img {
    filter:grayscale(50%);
}